[Unit]
Description=Pi monitor
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
UMask=007
Environment=INFLUXDB_URL=https://influxdbhost:8086
Environment=INFLUXDB_TOKEN=<token with write access to bucket>
Environment=INFLUXDB_ORG=<id of org>
Environment=INFLUXDB_BUCKET=infra
Environment=HOST=<HOSTNAME of reporting host>
ExecStart=/home/pi/src/pimon/pimon.sh
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
